body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.App {
  display: grid;
}
.main, .content {
  display: grid;
  padding: 40px 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.content {
  padding: 10px 100px;
  grid-row-gap: 20px;
}

.main  div {
  text-align: center;
}