.catalog__item {
  position: relative;
  border-radius: 10px;
  padding: 0 10px 20px 10px;
  &-title {
    padding: 10px 0;
  }
  &-task, input {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    vertical-align: center;
  }
  &-close {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      opacity: 0.9;
    }
  }
  &-task {
    position: relative;
    height: auto;
    min-height: 30px;
    max-height: 90px;
    overflow: hidden;
    padding: 0 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    i {
      position: absolute;
      right: 2.5px;
      font-size: 13px;
      color: black;
      opacity: 0.5;
      z-index: 2;
    }
    &::after {
      content: " ";
      height: 100%;
      width: 20px;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #9FE7A4;
      position: absolute;
      z-index: 1;
    }
    &.allowHover {
      &:hover {
        .catalog__item-task__expand {
          display: flex;
        }
      }
    }
    &__expand {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: grey;
      color: white;
      font-size: 10px;
      justify-content: center;
      align-items: center;
    }
    &.complited {
      opacity: 0.5;
    }
  }
  input {
    padding-left: 10px;
    width: 100%;
    outline: none;
  }
}